/* blob animation keyframe */
@keyframes blob-animation {
    0% {
        clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%,
                80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%,
                47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%,
                17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%);
    }

    25% {
        clip-path: polygon(70% 40%, 95% 60%, 90% 25%, 80% 5%,
                75% 5%, 70% 35%, 55% 60%, 50% 65%,
                45% 55%, 40% 35%, 25% 70%, 5% 60%,
                15% 95%, 25% 75%, 70% 95%, 70% 40%);
    }

    50% {
        clip-path: polygon(76% 46%, 98% 63%, 96% 28%, 87% 2%,
                82% 4%, 74% 34%, 62% 64%, 54% 70%,
                49% 60%, 47% 36%, 29% 78%, 3% 67%,
                19% 102%, 29% 78%, 78% 99%, 76% 46%);
    }

    75% {
        clip-path: polygon(72% 42%, 97% 59%, 94% 24%, 83% 1%,
                78% 3%, 70% 33%, 58% 63%, 51% 69%,
                46% 59%, 43% 35%, 26% 77%, 2% 66%,
                16% 101%, 26% 77%, 74% 98%, 72% 42%);
    }

    100% {
        clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%,
                80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%,
                47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%,
                17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%);
    }
}

.fi-loading-indicator {
    animation: spin 0.5s ease-in-out infinite;
    color: white;
    width: 1.25rem;
    height: 1.25rem;
}

#nprogress .peg {
    box-shadow: 0 0 10px var(--primary-400), 0 0 5px var(--primary-600) !important;
}

#nprogress .bar {
    background: var(--primary-500) !important;
}
